<launch>

  #### Asctec Autopilot ###################################

  <node pkg="asctec_autopilot" type="autopilot_node" name="AutoPilot" 
    output="screen">

    <param name="port" type="string" value="/dev/ttyUSB0"/>
    <param name="speed" type="int" value="57600"/>
    <param name="freq" type="double" value="20.0"/>

    <param name="enable_IMU_CALCDATA" type="bool" value="true"/>
    <param name="interval_IMU_CALCDATA" type="int" value="1"/>
    <param name="offset_IMU_CALCDATA" type="int" value="0"/>

    <param name="enable_LL_STATUS" type="bool" value="true"/>
    <param name="interval_LL_STATUS" type="int" value="2"/>
    <param name="offset_LL_STATUS" type="int" value="0"/>

  </node>

  #### Asctec Proc ########################################

  <node pkg="asctec_proc" type="asctec_proc_node" name="AsctecProc" 
    output="screen">

  </node>

</launch>



